.funnel-display-normal{
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body{
    margin: 0px;
}
#header{
    position: sticky;
    justify-self: center;
    text-align: center;
    top:0px;
    margin:0px;
    padding: 0px;
    background-color: white;
    justify-items: center;
    /* border-style:solid; */
}
#name{
    font-size: 3rem;
    font-weight: lighter;
    margin:0px;
    padding: 0px;
    display: inline;
}
#email{
    margin:0px;
    padding: 0px;
    margin-bottom: 1%;
}
#steps-container{
    display: flex;
    column-gap: 8rem;
    text-align: center;
}
.step-circle{
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    border-color: black;
    height: 25px;
    width: 25px;
    justify-self: center;
    background-color: white;
    margin: 0px;
}
.step-text{
    text-wrap: nowrap;
    margin:0px;
}
#progress-container{
    position: absolute;
    height: 4px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    top:78%;
    width: 90%;
    left:3%;
    margin: 0px;
    padding: 0px;
    z-index: -1;
}
.filled{
    background-color: #57B9FF;
}
#progress-bar{
    background-color: #57B9FF;
    width: 0%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#resume-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
.subheading{
    font-size: xx-large;
    text-align: center;
    text-wrap: nowrap;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.items{
    justify-self: center;
    line-height: 2rem;
    margin: 0px;
    text-align: left;
    width: 100%;
    margin-bottom: 2rem;
}
#summary-content > .items{
    list-style-type: none;
}
#education-content > .items{
    list-style-type: none;
}
.content{
    width: 50%;
    /* border-style:solid; */
}
.subtitle{
    font-weight: bolder;
    list-style-type: none;
    font-size: large;
}
.contact-info{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.logo{
    height: 40px;
    width: 40px;
}
.small{
    height: 30px;
    width: 30px;
    padding-top: 5px;
}
#core-competencies-content-container{
    display: grid;
    width: 70%;
    justify-self: center;
    grid-template-columns: 50% 50%;
}